**/__pycache__/
**/.DS_Store

**.egg-info
outputs/2025*
*.gif
outputs/**/*.txt
outputs/**/*.log
outputs/**/*.html
outputs/**/*.pkl
outputs/**/*.wandb
outputs/**/*.json
outputs/**/*.yaml

nohup.out

.env
*.swp
main.log
.vscode
build/

.mypy_cache/
*.DS_Store

lib
checkpoints
venv/
.ipynb_checkpoints/
